.header {
    background: @lvl-dark;
    color: @lvl-light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    position: fixed;
    width: 100%;

    z-index: 3;

    

    a {
        text-decoration: none;
        color: inherit;
    }

    .navA {
        padding: 10px;

        &:hover {
            border-bottom: 1.5px solid @lvl-light-main;
            color: @lvl-light-main;
            padding-bottom: 3px;
            margin-bottom: 7px;
        }
    }
}