.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundImageAlign {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  background: #FFFFFF;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3,
h4,
h5,
h6 {
  font-size: 2rem;
}
main.about {
  padding-top: 60px;
  min-height: 80.6vh;
}
.about {
  background: #3D4247;
  color: #FFFFFF;
  padding: 1% 5% 2%;
}
.about section {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .about section {
    text-align: center;
  }
}
.about section p {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 1rem;
  margin-top: 1rem;
}
.about .cards {
  align-items: flex-start;
}
.about .cards .card.bio .content .bioP {
  border-color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 600px) {
  .index .cards.reviews {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .index .cards.reviews .card.review {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .index .cards.reviews .card.review {
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .index .cards.reviews .card.review {
    flex-direction: column;
  }
}
.reviewsSection {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 2rem 2rem 2rem;
  text-align: center;
}
@media (max-width: 1000px) {
  .reviewsSection {
    width: 94%;
  }
}
.reviewsSection p {
  padding: 4rem 0 8rem;
}
@media (max-width: 800px) {
  .reviewsSection {
    width: 100%;
  }
}
.reviewsSection .cards .card {
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}
.header {
  background: #3D4247;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header .navA {
  padding: 10px;
}
.header .navA:hover {
  border-bottom: 1.5px solid #81FFFE;
  color: #81FFFE;
  padding-bottom: 3px;
  margin-bottom: 7px;
}
footer {
  background: #79A1CC;
  color: #FFFFFF;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta {
  background: #3D4247;
  color: #FFFFFF;
  background-image: url("../imgs/cta.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.cta .backgroundColor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(66, 67, 107, 0.8);
  width: 100%;
  min-height: 100vh;
}
@media (max-width: 800px) {
  .cta .backgroundColor {
    padding-top: 50px;
    flex-direction: column-reverse;
  }
}
.cta .backgroundColor div {
  width: 40%;
}
@media (max-width: 800px) {
  .cta .backgroundColor div {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .cta .backgroundColor .content {
    text-align: center;
  }
}
.cta .backgroundColor .content p {
  font-size: 4rem;
}
@media (max-width: 800px) {
  .cta .backgroundColor .content p {
    margin-bottom: 3rem;
  }
}
@media (max-width: 500px) {
  .cta .backgroundColor .content p {
    font-size: 2.8rem;
  }
}
.cta .backgroundColor .action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4rem;
}
.cta .backgroundColor .action h2 {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 1.4rem;
  padding-left: 2rem;
}
.cta .backgroundColor .action .button {
  border-radius: 10px;
  border: none;
  background: #81FFFE;
  color: #3D4247;
  font-size: 3rem;
  text-decoration: none;
  padding: 2rem 4rem;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  .cta .backgroundColor .action .button {
    margin-bottom: 3rem;
  }
}
.cta .backgroundColor .action .button:hover {
  background: #3D4247;
  color: #81FFFE;
  border: 2px solid #81FFFE;
  margin-bottom: 1.6rem;
}
@media (max-width: 800px) {
  .cta .backgroundColor .action .button:hover {
    margin-bottom: 2.6rem;
  }
}
.spotlight {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: #CC7F79;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.spotlight:nth-of-type(1) {
  background-image: url("../imgs/spot1.jpg");
}
.spotlight:nth-of-type(2) {
  background-image: url("../imgs/spot3.jpg");
}
.spotlight:nth-of-type(3) {
  background-image: url("../imgs/spot4.jpg");
}
.spotlight.left {
  justify-content: flex-start;
}
.spotlight.right {
  justify-content: flex-end;
}
.spotlight .content {
  background: #FFFFFF;
  color: #3D4247;
  max-width: 700px;
  padding: 6rem 4rem;
  line-height: 2;
}
@media (max-width: 800px) {
  .spotlight .content {
    max-width: 500px;
  }
}
@media (max-width: 500px) {
  .spotlight .content {
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.spotlight .content h2,
.spotlight .content p {
  padding: 0;
}
.spotlight .content h2 {
  margin-bottom: 2rem;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .cards {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
.cards .card {
  margin: 2rem;
  width: 80%;
  padding: 1rem;
  display: flex;
}
@media (max-width: 800px) {
  .cards .card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .cards .card h3 {
    font-size: 1.8rem;
  }
}
.cards .card a {
  margin: 1rem;
}
.cards .card img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.cards .card .content {
  text-align: left;
  margin-left: 2rem;
  width: 100%;
}
@media (max-width: 800px) {
  .cards .card .content {
    text-align: center;
  }
}
.cards .card .content p {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem 0 0 0 ;
  margin-top: 1rem;
}
