.cta {
    background: @lvl-dark;
    color: @lvl-light;

    background-image: url("../imgs/cta.jpg");
    background-position: center;
    background-size: cover;

    height: 100vh;

    .backgroundColor {

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background: rgba(66, 67, 107, 0.8);
        width: 100%;
        height: 100%;

        div {
            width: 40%;
        }

        .content p {
            font-size: 4rem;
        }

        .action {
            .center();
            flex-direction: column;
            font-size: 4rem;

            h2 {
                text-align: center;
                font-size: 6rem;
                letter-spacing: 1.4rem;
                padding-left: 2rem;
            }

            button {
                border-radius: 10px;
                border: none;
                background: @lvl-light-main;
                color: @lvl-dark;

                font-size: 3rem;
                
                padding: 2rem;
                margin-top: 2rem;

                &:hover {
                    background: @lvl-dark;
                    color: @lvl-light-main;
                    border: 2px solid @lvl-light-main;
                }
            }
        }

    }
}