.reviewsSection{
    color: @lvl-light;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    @media @tablet {
        width: 100%;
    }

    .reviewsContainer {
        .center();
        flex-wrap: wrap;
        margin: auto 5%;

        .review {
            width: 50%;
            padding: 1rem;
            margin: 0;

            background: @lvl-light;
            color: @lvl-dark;

            @media @tablet {
                width: 100%;
            }


            img {
                width: 150px;
                height: 150px;
                border-radius: 75px;
            }

            @media (min-width: 801px) {
                &:nth-child(1){
                    border-top-left-radius: 30px;
                }
                &:nth-child(2){
                    border-top-right-radius: 30px;
                }

                &:nth-last-child(2){
                    border-bottom-left-radius: 30px;
                }
                &:nth-last-child(1){
                    border-bottom-right-radius: 30px;
                }
            }
        }
    }
}